/* Reset default margins and paddings */
body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 2 rem;
  padding-left: 2 rem;
  
}

/* Set a background color for the entire app */
body {
  background-color: #dfeffe;
  font-family: Arial, sans-serif;
  padding-top: 2 rem;
  padding-left: 2 rem;
}

/* Header styling */
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Container for the list */
.container {
  max-width: 500px;
  margin: 10 auto;
  padding: 5rem 5rem;
  background-color: rgb(242, 183, 183);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for the list items */
ul {
  list-style: none;
  padding: 30;
  flex: 1;
  max-width: 100%; /* Adjust the width as needed */
}

li {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Different colors for Fizz, Buzz, and FizzBuzz items */
li.fizz {
  background-color: #ffc107;
}

li.buzz {
  background-color: #17a2b8;
}

li.fizzbuzz {
  background-color: #28a745;
}

/* Styling for the numbers */
li .number {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Styling for the React logo */
.logo {
  width: 50px;
  height: 50px;
}

/* Add hover effect to list items */
li:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
